body {
    font-family: Arial, sans-serif;
    background-color:#fff;
    
}
h1{
    color:#3F51B5;
    margin-left: 650px;
    margin-top: 170px;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
}

.task-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.add-button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #3F51B5;
    color: #fff;
    cursor: pointer;
}

.task-list {
    margin-top: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

.task-item .task-text {
    flex-grow: 1;
}

.delete-button {
    padding: 5px 10px;
    border: none;
    background-color: #FF6B6B;
    color: #fff;
    }